.u-section-1 .u-sheet-1 {
  min-height: 913px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 8px 83px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: -28px auto 0 8px;
}

.u-section-1 .u-image-1 {
  --radius: 10px;
  width: 251px;
  height: 373px;
  margin: -5px auto 0 882px;
}

.u-section-1 .u-text-3 {
  margin: -360px 267px 0 8px;
}

.u-section-1 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 8px auto 0 8px;
  padding: 8px 33px;
}

.u-section-1 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 8px auto 60px 8px;
  padding: 8px 39px 8px 38px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-top: -21px;
  }

  .u-section-1 .u-image-1 {
    height: 374px;
    margin-left: 733px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 370px;
    margin-top: -341px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -29px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -4px;
    margin-right: 8px;
    margin-left: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: -362px;
    margin-right: 267px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -21px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 421px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 95px;
    margin-top: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-top: 490px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -501px;
    margin-right: 78px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 234px;
    height: 349px;
    margin-top: 468px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-3 {
    margin-top: -809px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}